.app {
  height: 100vh;
  padding: 30px;
}

.h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial Black", sans-serif;
  font-size: 3.0em;
  letter-spacing: -1px;
  background-color: rgb(102, 165, 201);
  color: white;
}

.todo-list {
  margin-left: auto;
  margin-right: auto;
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}